# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio / MSVC artifacts
.vs/
Debug/
Release/
x64/
x88/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# C++ Build Artifacts
*.o
*.obj
*.exe
*.out
*.app
*.dSYM/
*.pdb
*.ilk
*.suo
*.user

# VS Code
.vscode/

# Local Python/Jupyter Cache
__pycache__/
*.pyc
.ipynb_checkpoints/
